{% extends "ServerGroveTranslationEditorBundle::layout.html.twig" %}

{% block sidebar %}
<script type="text/javascript">
    var Editor = {
        editors:[],
        lib:"",
        bundle: "",
        platform : "",

        showMissing:function () {
            $('.zebra-striped tbody tr.ok').hide();
        },

        hideEditor:function (id) {
            //alle offernenen Editors weg
            $(".editor").addClass("none");
            //alle zunen Trext rein
            $(".trlText").removeClass("none");
            $('#editor-' + id).unbind("keypress");
        },

        showEditor:function (id) {
            //console.log(id);
            //alle offernenen Editors weg
            Editor.hideEditor(id);
            //das gewählte: text wege, editor rein
            $('#current-' + id).addClass("none");
            $('#editor-' + id).removeClass("none");
            //focous ins feld und tab überwachung
            $('#editor-' + id + ' textarea').focus();
            Editor.tabulate(id);
        },

        tabulate:function (id) {

            var eleId = '#editor-' + id
            $(eleId).bind('keypress', function (event) {
                if (event.keyCode == 9) {
                    var nextId = Editor.getNext(id);
                    var splitId = Editor.splitId(id);

                    var info = $("td#info-" + splitId[0]).html();
                    var split = info.split("::");
                    var lib = split[1];
                    var bundle = split[0];

                    var key = $("#key-" + splitId[0]).html();
                    var locale = splitId[1];
                    var onTab = true;


                    Editor.saveChange(id, key, locale, bundle, lib, onTab);
                    Editor.showEditor(nextId);
                }
            });
        },

        splitId:function (id) {
            var split = id.split("-");
            return split;
        },

        getNext:function (currentId) {
            var index = Editor.editors.indexOf(currentId);
            index++;
            if (index >= Editor.editors.length) {
                index = 0;
            }
            return Editor.editors[index];
        },

        editorIds:function () {
            var currentTable = $("table#translations");
            var elements = $(".editor", currentTable)

            elements.each(function (index, value) {
                var id = "#" + $(value).attr("id");
                var split = id.split("#editor-");
                Editor.editors.push(split[1]);
            });
        },

        saveChange:function (id, key, locale, bundle, lib, onTab) {
            $('#save-' + id).val('Saving...');
            var newVal = $('#editor-' + id + ' textarea').val();

            $.ajax({
                type:"POST",
                url:'{{path(platform ~ '_update')}}',
                data:{'key':key, 'locale':locale, 'val':newVal, bundle:bundle, lib:lib},
                success:function (data) {
                    $('#save-' + id).val('Save');
                    $('#current-' + id + '-content').html(newVal);
                    if ( !onTab ) {
                        Editor.hideEditor(id);
                    }
                }
            });
        },

        removeEntry:function (id, key, bundle, lib) {
            $('#remove-' + id).val('Removing...');

            $.ajax({
                type:"POST",
                url:'{{path(platform ~ '_remove')}}',
                data:{'key':key, bundle:bundle, lib:lib},
                success:function (data) {
                    $('#entry-' + id).remove();
                }
            });
        },

        submitAjaxForm:function (form, checkOnly) {
            if (typeof(checkOnly) == 'undefined') {
                checkOnly = false;
            }

            var url = form.attr('action');
            //var url = form.action;

            $('#check-only').val(checkOnly ? 1 : 0);

            var data = form.serializeArray();
            $('.alert-message').hide();

            console.log(data);
            $.ajax({
                url:url,
                dataType:'json',
                data:data,
                type:'POST',
                success:function (data) {
                    if (data && data.result == true) {
                        if (!checkOnly) {
                            /*if ( data.redirect)  {
                             return location.href = data.redirect;
                             }*/
                            $('#key').val('');
                            $('#key').focus();
                            $('#newtranslation textarea').val('');
                            $('#insert-ok').html('New translation inserted successfully');
                            $('#insert-ok').show();
                        } else {
                            //$('#insert-ok').html('Key not found.');
                            // $('#insert-ok').show();
                        }
                    } else {
                        if (data && data.msg) {
                            $('#errmsg').html(': ' + data.msg);
                        } else {
                            $('#errmsg').html('');
                        }
                        $('#insert-error').show();
                    }

                }

            });
            return false;
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        Editor.editorIds();
        Editor.platform = '{{ platform }}';
    });
</script>

<style>
    .none {
        display: none;
    }

    .editor {
        /*   display: none;*/
    }

    .editor textarea {
        width: 100%;
        height: 100px;
    }

    .mysmall {
        padding: 5px;
        width: 50px;
        font-size: 9px;
    }

</style>

<h5>Stats</h5>
<ul>
    <li><a href="#" onclick="showMissing(); return false;">Missing translations global: {{trlKeys.entriesCount}}</a></li>
</ul>
{% endblock %}

{% block body %}

<table class="zebra-striped">
    <thead>
    <tr>
        <th>Key</th>
        {% set default = trlKeys.default %}
        {% for locale in trlKeys.locales %}
        <th>{{locale}}
            {% if locale == default %}<span class="label">Default</span>{%endif%}
        </th>
        {% endfor %}
        <th>Bundle::lib</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for  lib in trlKeys.entries %}
    {% for key, entry in lib.entries %}

    <tr id="entry-{{loop.index}}" class="missing">
        <td id="key-{{loop.index}}">{{key}}</td>
        {% for locale in trlKeys.locales %}
        <td>
            <div id="current-{{loop.parent.loop.index}}-{{locale}}" class="trlText">
                {% set translation = entry[locale] %}

                {% set exists = translation ? true : null %}
                <div id="current-{{loop.parent.loop.index}}-{{locale}}-content"
                     onclick="Editor.showEditor('{{loop.parent.loop.index}}-{{locale}}')">{% if exists %}{{translation}}{%endif%}</div>
                {% if locale != default and exists and translation == entry[default] %}
                <span class="label warning">Duplicate</span>
                {% endif %}
                {% if ( not exists or translation|length == 0 )  %}
                <span class="label important"
                      onclick="Editor.showEditor('{{loop.parent.loop.index}}-{{locale}}')">Missing</span>
                {% endif %}
            </div>
            <div id="editor-{{loop.parent.loop.index}}-{{locale}}" class="editor none">
                <textarea>{% if exists %}{{translation}}{%endif%}</textarea><br/>
                <input id="save-{{loop.parent.loop.index}}-{{locale}}" class="btn mysmall success" type="button"
                       value="Save"
                       onclick="Editor.saveChange('{{loop.parent.loop.index}}-{{locale}}', '{{key|e('js')}}', '{{locale}}', '{{ lib.bundle}}', '{{lib.lib}}')">
                <input class="btn mysmall" type="button" value="Cancel"
                       onclick="Editor.hideEditor('{{loop.parent.loop.index}}-{{locale}}')">
            </div>
        </td>
        {% endfor %}
        <td id="info-{{loop.index}}">{{lib.bundle}}::{{lib.lib}}</td>
        <td>
            <input id="remove-{{loop.index}}" class=" btn danger small" type="button" value="Remove"
                   onclick="confirm('Are you sure?') && Editor.removeEntry('{{loop.index}}', '{{key}}', '{{lib.bundle}}', '{{lib.lib}}')">
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
<!-- Example row of columns -->

<footer>
    <p>&copy; ServerGrove feat. LOVOO 2012</p>
</footer>
</div>

{% endblock %}
